html, body, div, p {
    margin: 0px;
    padding:  0px;
    font-family: Arial, Helvetica, sans-serif;
}

#output {
    padding: 0px 20px;
}

#js-meaning {
    width: 600px;
}

.back-btn {
    display: inline;
    background-color: #666;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.label {
    font-weight: bold;
    color: #666;
    padding-right: 10px;
}

.sub-title {
    padding-top: 20px;
    font-weight: bold;
    color: #666;
    font-size: 1.5em;
}

.buttons {
    padding: 20px 0px;
}